<strong>Olá, {{ student }} </strong>
<p>Seu pedido de ajuda foi respondido! Confira os detalhes abaixo:</p>
<p>
  <strong>Questão: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <small>
    Gympoint, vamos ficar grande!
  </small>
</p>
