<strong>Olá, {{ student }} </strong>
<p>Sua matrícula foi cadastrada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data término: </strong> {{ end_date }} <br />
  <strong>Valor: </strong> {{ price }} <br />
  <br />
  <small>
    Seja bem vindo á Gympoint, vamos ficar grande!
  </small>
</p>
